body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.video-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgb(108, 98, 98);
}

.overlay h1 {
  font-size: 3em;
  margin: 0;
  padding: 20px;
  background-color: rgba(254, 254, 254, 0.644);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(237, 237, 237, 0.863);
}
